<% provide(:title, "Home") %>
<div class="row">
  <aside class="col-md-6">
    <section class="">
      <h1>
        Últimas Ofertas
      </h1>
      <%= render @offers %>
      <%= link_to 'Ver todas as Ofertas' %>
    </section>
  </aside>
  <aside class="col-md-6">
    <section class="">
      <h1>
        Notícias
      </h1>
      <%= render @newss %>
      <%= link_to 'Ver todas as Notícias', news_index_url %>
    </section>
  </aside>
</div>
<div class="row">
  <aside class="col-md-6">
    <section class="">
      <h1>
        Últimas Empresas
      </h1>
      <%= render @entities %>
      <%= link_to 'Ver todas as Empresas', index_entitie_path %>
    </section>
  </aside>
  <aside class="col-md-6">
    <section class="">
      <h1>
        Últimos Candidatos
      </h1>
      <div class="col-md-12">
      <%= render @candidates %>
      <%= link_to 'Ver todos os Candidatos', index_candidate_path %>
      </div>
    </section>
  </aside>
</div>