<div class="row"><aside class="col-md-6">
  <div class="row">
    <aside class="col-md-12">
      <section class="user_info">
        <h1>
          Candidaturas
        </h1>
      </section>
    </aside>
    <aside class="col-md-12">
      <section class="entity_interest">
        <h1>
          Empresas interessadas em mim
        </h1>
        <%= render @user.followers %>
      </section>
    </aside>
  </div>

</aside>
  <aside class="col-md-6">
    <div class="row">
      <aside class="col-md-12">
        <section class="user_edit">
          <h1>
            <%= @user.name %>
          </h1>
          <%= link_to "Editar dados", edit_user_path(@user,data: 'edit'), class: 'btn btn-default' %>
          <%= link_to "Alterar password", edit_user_path(@user,data: 'password'), class: 'btn btn-default' %>
          <div class="prof_img">
            <%= image_tag @user.picture.url if @user.picture? %>
          </div>
        </section>
      </aside>
    </div>
  </aside>

</div>