  <div class="row">
    <div class="col-md-6">
      <div class="user_info">
        <h3>
          Candidaturas
        </h3>
        <% if @offers_candidature.any? %>
            <%= render @offers_candidature %>
            <%= will_paginate @offers_candidature %>
        <% else %>
            <p>Ainda não se candidatou a nenhuma oferta</p>
        <%end %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="user_edit">
        <h3>
          <%= @user.name %>
        </h3>
        <%= link_to "Editar dados", edit_user_path(@user), class: 'btn btn-default' %>
        <%= link_to "Alterar password", edit_password_path(@user), class: 'btn btn-default' %>
        <div class="prof_img">
          <%= image_tag @user.picture? ? @user.picture.url : 'default_avatar.png' %>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="entity_interest">
        <h3>
          Empresas interessadas em mim
        </h3>
        <% if  @followers.any? %>
            <%= render @followers %>
        <% else %>
            <p>Ainda não tem empresas interessadas em si.</p>
        <% end %>
      </div>
    </div>
  </div>
