<aside class="col-md-12">
  <section>
    <h1>
      <%= @user.name %>
    </h1>
  </section>
</aside>
<aside class="col-md-2 user_info_avatar">
  <section>
    <%= image_tag @user.picture? ? @user.picture.url : 'default_avatar.png' , style: 'width: 100%' %>
  </section>
  <section>

    <% if logged_in? && !current_user?(@user) && current_user.entitie == '1' %>
        <!-- shows the user the follow button to the entitie if it's not the current user and it is a candidate-->
        <%= render 'form_follow' %>
    <% end %>
  </section>
  <% if admin_user?(@user) || current_user?(@user) %>
      <!-- edit button to the entitie itself -->
      <section>
        <%= link_to "Editar", edit_user_path(@user), class: 'btn btn-default' %>
      </section>
  <% end %>
</aside>
<aside class="col-md-10">
  <section class="user_edit">
    <p>
      <%= @user.presentation %>
    </p>
    <p><strong>Actividade Profissional</strong></p>
    <p><%= @user.prof_area %></p>
  </section>
  <section>
    <p><strong>Morada</strong></p>
    <p><%= @user.address %></p>
    <p><%= @user.postal_code %> <%= @user.locality %></p>
  </section>

  <section>
    <p><strong>Contactos</strong></p>
    <p>Telemóvel: <%= @user.cellphone %> | Telefone: <%= @user.cellphone%></p>
    <p><%= @user.email %></p>
    <p><%= link_to @user.page, "http://#{@user.page}" %><p>
  </section>
</aside>

<aside class="col-md-12">
  <section>
    <h1>Ofertas Activas</h1>
    <% if @offers_active.any? %>
        <% @offers_active.each do |offer| %>
            <div class="col-md-6">
              <%= render offer %>
            </div>
        <% end %>
    <% else %>
        <p><%= @user.name %> não tem ofertas activas de momento.</p>
    <% end %>
  </section>
</aside>
<aside class="col-md-12">
  <section>
    <%= link_to 'Ver entidades', index_entitie_path %>
  </section>
</aside>
