<div class="row">
  <aside >
    <section class="user_info">
      <div class="col-md-6">
        <h1>
          Ofertas
        </h1>
        <%= render @offers_limit %>

        <%= link_to "Inserir Oferta", new_offer_path, class: 'btn btn-default' %>
      </div>
      <div class="col-md-6">
        <h1>
          <%= @user.name %>
        </h1>
        <%= link_to "Editar dados", users_edit_path(@user), class: 'btn btn-default' %>
        <%= link_to "Alterar password", edit_password_path(@user), class: 'btn btn-default' %>
        <div class="prof_img">
          <%= image_tag @user.picture? ? @user.picture.url : 'default_avatar.png' %>
        </div>
      </div>
    </section>
    <section class="entity_interest">
      <div class="col-md-6">
        <h1>
          Histórico
        </h1>
        <%= render @offers_deactive %>
      </div>
      <div class="col-md-6">
        <h1>
          Candidatos interessados
        </h1>
        <% if @user.followers.any? %>
            <%= render @user.followers %>
        <% end %>
      </div>
    </section>
  </aside>
</div>