<aside class="col-md-12">
  <section>
    <div class="col-md-3" style="margin-right: 10px">
      <%= image_tag user.picture.url if user.picture? %>
    </div>
    <div class="col-md-8">
      <%= link_to user.name, user %>
      <% if params[:entitie] == 'true' %>
          <p>Ofertas</p>
          <p><%= user.presentation %></p>
      <% else %>
          <p><%= user.prof_area %></p>
          <p><%= user.prof_experience %></p>
          <p><%= user.skills %></p>
      <% end %>
    </div>
  </section>
</aside>