
<aside>
  <section>
    <div class="col-md-3" >
      <%= image_tag user.picture? ? user.picture.url : '/assets/default_avatar.png', style: 'width:100%;' %>
    </div>
    <div class="col-md-9">
      <%= link_to user.name, user %>
      <% if user.entitie == '2' %>
          <p>
            <% unless current_page?(:controller => 'static_pages', :action => 'home') %>
                <%= pluralize(user.offers.count, "ofertas activas") %><br>
            <% end %>
            <%= user.presentation.first(70) %></p>
      <% else %>
          <p><%= user.prof_area %> <br><%= user.prof_experience %> <br><%= user.skills %></p>
      <% end %>
    </div>
  </section>
</aside>

