<% provide(:title, 'Alterar Password') %>


<div class="row">
  <aside class="col-md-4">
    <h3>Alterar Password</h3>
  </aside>
</div>

<%= simple_form_for @user, html: {multipart: true}  do |f| %>
    <div class="row" id="login_candidate_info">
      <div class="col-md-6">
        <%= f.input :email %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%= f.input :current_password, label: "Password Atual" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%= f.input :password %>
      </div>
      <%= f.hidden_field :entitie, value: '1' %>
      <div class="col-md-6">
        <%= f.input :password_confirmation, label: "Confirmação Password" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <%= f.button :submit, label: "Update Password", class: 'btn btn-primary' %>
      </div>
    </div>
    <hr>
<% end %>