<% provide(:title, 'Entidades') %>
<div class="row">
  <aside class="col-md-4">
    <h3>Entidades</h3>
  </aside>
</div>
<div class="row">
  <aside >
    <%= form_for index_candidate_path, method: 'get', remote: true do  %>
        <div class="col-md-3">
          <%= text_field_tag :search,params[:search], placeholder: 'Pesquisa' %>
        </div>
        <div class="col-md-3">
          <% field_array = User.entitie.distinct.pluck(:prof_area) %>
          <%= select_tag(:prof_area, options_for_select(field_array),{include_blank: 'Ãrea Profissional...',:onChange => "javascript: this.form.submit();"})  %>
        </div>
        <div class="col-md-3">
          <% field_array = User.entitie.distinct.pluck(:locality) %>
          <%= select_tag(:locality, options_for_select(field_array),{include_blank: 'Concelho...', :onChange => "javascript: this.form.submit();"}) %>
        </div>
    <% end %>
  </aside>
</div>
<div class="row">
  <% @users.each do |user|  %>
      <div class="col-md-6">
        <%= render user %>
        <div class="col-md-4">
          <% if logged_in? && current_user.entitie == '1' %>
              <% @user = user %>
              <%= render 'form_follow' %>
          <% end %>
        </div>
        <% if admin_user?(current_user) || current_user?(user) %>
            <%= link_to "Editar", edit_user_path(user,data: 'edit'), class: 'btn btn-default' %>
        <% end %>
      </div>
  <% end %>
</div>
<%= paginate(@users)%>

<div class="row">
  <% unless logged_in? %>
      <%= link_to "Quero-me registar", new_user_path %>
  <% end %>
</div>