<div class="row">
  <aside>
    <section>
      <h1>
        Notícias
      </h1>
    </section>
  </aside>
</div>

<div class="row">
  <aside class="col-md-3">
    <%= form_for backoffice_news_path, method:'get' do |f| %>
        <%= text_field_tag :search, params[:search], placeholder: 'Pesquisa' %>
    <% end %>
  </aside>
</div>
<div class="row tables">
  <table class="col-md-12 ">
    <tr>
      <th class="col-md-3">Nome</th>
      <th class="col-md-2">Data</th>
      <th class="col-md-2">Destaque</th>
      <th class="col-md-2">Activo</th>
      <th class="col-md-3">Ações</th>
    </tr>
    <% @news.each do |news| %>
        <tr>
          <td class="col-md-3"><%= news.title %></td>
          <td class="col-md-2"><%= news.date %></td>
          <td class="col-md-2"><%= news_destaque(news) %></td>
          <td class="col-md-2"><%= news_active(news) %></td>
          <td class="col-md-3"><%= link_to "Detalhe", backoffice_show_news_path(news), class: 'btn btn-info' %>
            <%= link_to "Editar", backoffice_edit_news_path(news) , class: 'btn btn-warning' %>
            <% if admin_user?(current_user) %>
                <%= link_to "Apagar", news, method: :delete,
                            data: { confirm: "Tem a certeza que pretende eliminar esta notícia?" }, class: 'btn btn-danger' %>
            <% end %>
          </td>
        </tr>
    <% end %>

  </table>
</div>
<div class="row">
  <aside>
    <section>
      <%= link_to "Inserir", new_news_path, class: 'btn btn-default' %>
    </section>
  </aside>
</div>
<div class="row">
  <%= will_paginate @news %>
</div>
</div>