<div class="row">
  <aside class="col-md-4">
    <h3>Detalhe do Utilizador</h3>
  </aside>
</div>
</section></aside>
<div class="row">
  <div class="col-md-6">
    <p><strong>Nome</strong></p>
    <p><%= @user.name %></p>
  </div>
  <div class="col-md-6">
    <p><strong>Tipo</strong></p>
    <p><%= type(@user) %></p>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <p><strong>Email</strong></p>
    <p><%= @user.email %></p>
  </div>
  <div class="col-md-6">
    <p><strong>Activo</strong></p>
    <p><%= user_active(@user) %></p>
  </div>
</div>
<div class="row">
  <%= link_to "Editar", edit_backoffice_path(@user),class: 'btn btn-default' %>
  <%= link_to "Alterar Password", edit_backoffice_path(@user, data: 'password'),class: 'btn btn-default' %>
  <% if admin_user?(current_user) %>
      <%= link_to "Apagar", @user, method: :delete,
                  data: { confirm: "You sure?" }, class: 'btn btn-danger' %>
  <% end %>
  <%= link_to "Inserir", new_backoffice_url,class: 'btn btn-default' %>
</div>