<% provide(:title, 'Notícia') %>
<div class="row">
  <aside class="col-md-4">
    <h3><%= @news.title %></h3>
    <p><%= @news.created_at.strftime("%m/%d/%Y") %> a <%= @news.date %></p>
  </aside>
</div>
<div class="row">
  <div class="col-md-7">
    <p><%= @news.text %></p>
  </div>
  <div class="col-md-5">
    <%= image_tag @news.picture? ? @news.picture.url : 'default-news-image.jpg', style: 'width:100%; max-height:200px;' %>
  </div>
</div>
<div class="row">
  <%= link_to "Ver todas", news_index_url %>
</div>