
<aside>
  <section>

    <div class="col-md-3">
      <%= image_tag offer.picture? ? offer.picture.url : 'default_avatar.png', style: 'width:100% ;' %>
    </div>
    <div class="col-md-9">
      <p><%= link_to offer.title, offer %><br><%= offer.date_begin %> a <%= offer.date_end %><br><%= offer.user.name %><br><%= offer.description.first(80) %>...</p>
    </div>
    <% if offer.active %>
        <% unless current_page?(:controller => 'static_pages', :action => 'home') %>
            <% if logged_in? && current_user.entitie == '2' &&  current_user?(offer.user) %>
                <% if !current_page?(:controller => 'offers', :action => 'index') %>
                    <div class="col-md-2">
                      <%=  link_to 'Editar', edit_offer_path(offer.id) , class: 'btn btn-default' %>
                    </div>
                    <div class="col-md-3">
                      <%= form_tag offer_update_path, method: 'patch' do %>
                          <%= hidden_field_tag :active, false %>
                          <%= submit_tag "Cancelar", class:'btn btn-default' %>
                      <% end %>
                    </div>
                <% else %>
                    <%=  link_to 'Editar', edit_offer_path(offer.id) , class: 'btn btn-default' %>
                <% end %>
            <% else %>
                <div class="col-md-4">
                  <% if logged_in? && current_user.entitie == '1' %>
                      <% unless current_user?(offer.user) %>
                          <% @offer = offer %>
                          <% if current_user.offerings?(offer) %>
                              <%= render 'offers/unfollow_offer' %>
                          <% else %>
                              <%= render 'offers/follow_offer' %>
                          <% end %>
                      <% end %>
                  <% end %>
                </div>
                <% if admin_user?(current_user) || current_user?(offer.user) %>
                    <%=  link_to 'Editar', edit_offer_path(offer.id), class: 'btn btn-default' %>
                <% end %>
            <% end %>
        <% end %>
    <% else %>
        <%= link_to "Reativar", edit_offer_path(offer.id) , class: 'btn btn-default' %>
    <% end %>
  </section>
</aside>
