
<aside>
  <section>

    <div class="col-md-2">
      <%= image_tag offer.picture? ? offer.picture.url : 'default_avatar.png', style: 'width:100% ;' %>
    </div>
    <div class="col-md-10">
      <p><%= link_to offer.title, offer %></p>
      <p><%= offer.date_begin %> a <%= offer.date_end %></p>

      <p><%= offer.user.name %></p>
      <p><%= offer.prof_area %></p>
      <p><%= offer.description.first(100) %>...</p>
    </div>
    <% if offer.active %>
        <% unless current_page?(:controller => 'static_pages', :action => 'home') %>
            <% if logged_in? && current_user.entitie == '2' &&  current_user?(offer.user) %>
                <% if !current_page?(:controller => 'offers', :action => 'index') %>
                    <%=  link_to 'Editar', edit_offer_path(offer.id) , class: 'btn btn-default' %>
                    <%= link_to 'Cancelar', offer, method: :delete,
                                data: { confirm: "Tem a certeza que pretende desactivar esta oferta?" }, class: 'btn btn-default' %>
                <% else %>
                    <%=  link_to 'Candidatar-me', '#' , class: 'btn btn-default' %>
                    <%=  link_to 'Editar', edit_offer_path(offer.id) , class: 'btn btn-default' %>
                <% end %>
            <% else %>
                <%=  link_to 'Candidatar-me', '#' , class: 'btn btn-default' %>

                <% if admin_user?(current_user) || current_user?(offer.user) %>
                    <%=  link_to 'Editar', edit_offer_path(offer.id), class: 'btn btn-default' %>
                <% end %>
            <% end %>
        <% end %>
    <% else %>
        <%= link_to "Reativar", edit_offer_path(offer.id) , class: 'btn btn-default' %>
    <% end %>
  </section>
</aside>
