
<aside class="col-md-12">
  <section>

    <div class="col-md-2" style="margin-right: 10px">
      Picture
    </div>
    <div class="col-md-5">
      <p><%= link_to offer.title, offer %></p>
      <p><%= offer.date_begin %> a <%= offer.date_end %></p>
      <p><%= offer.prof_area %></p>
      <p><%= offer.description.first(100) %>...</p>
    </div>
    <% if type(current_user) == '2'  %>
        <%=  link_to 'Editar', '#' , class: 'btn btn-default' %>
        <%= link_to 'Cancelar', '#', class: 'btn btn-default' %>
    <% else %>
        <%=  link_to 'Candidatar-me', '#' , class: 'btn btn-default' %>

        <% if admin_user?(current_user) || current_user?(offer.user) %>
            <%=  link_to 'Editar', '#', class: 'btn btn-default' %>
        <% end %>
    <% end %>
  </section>
</aside>

