<% provide(:title, 'Ofertas') %>
<div class="row">
  <aside class="col-md-4">
    <h3>Ofertas</h3>
  </aside>
</div>
<div class="row">
  <aside>
    <%= form_for offers_path, method: 'get' do %>
        <div class="col-md-3">
          <%= text_field_tag :search, params[:search], placeholder: 'Pesquisa' %>
        </div>
        <div class="col-md-3">
          <%= select_tag(:prof_area , options_for_select(['Informática','Educação','Saúde','Metalúrgica','Prestação de Serviços']),{include_blank: 'Área de actividade...', :onChange => "javascript: this.form.submit();"}) %>
        </div>
        <div class="col-md-3">
          <% field_array = Offer.all.distinct.pluck(:locality) %>
          <%= select_tag(:locality, options_for_select(field_array),{include_blank: 'Concelho...', :onChange => "javascript: this.form.submit();"}) %>
        </div>
    <% end %>
  </aside>
</div>

<div class="row">
  <% @offers.each do |offer|  %>
      <div class="col-md-6">
        <%= render offer %>
      </div>
  <% end %>

</div>
<%= paginate(@offers) %>