<% provide(:title, 'Ofertas') %>
<div class="row">
  <aside class="col-md-4">
    <h3>Ofertas</h3>
  </aside>
</div>
<div class="row">
  <aside class="col-md-3">
    <%= form_for offers_path, method: 'get', remote: true do %>
        <%= text_field_tag :search, params[:search], placeholder: 'Pesquisa' %>
    <% end %>
  </aside>

  <aside class="col-md-3">
    <%= form_for offers_path, method: 'get', remote: true do |f| %>
        <% field_array = Offer.distinct.pluck(:prof_area) %>
        <%= f.select(:fields , options_for_select(field_array),{include_blank: 'Ãrea de actividade...'}, :onChange => "javascript: this.form.submit();") %>
    <% end %>
  </aside>

  <aside class="col-md-3">
    <%= form_for offers_path , method: 'get', remote: true do |f| %>
        <% field_array = User.where(entitie: '2').distinct.pluck(:locality) %>
        <%= f.select(:locality, options_for_select(field_array),{include_blank: 'Concelho...'}, :onChange => "javascript: this.form.submit();") %>
    <% end %>
  </aside>
</div>

<div class="row">
  <% @offers.each do |offer|  %>
      <div class="col-md-6">
        <%= render offer %>
      </div>
  <% end %>

</div>
<%= paginate(@offers) %>