<aside class="col-md-12 user_info_avatar">
  <section>
    <h1>
      <%= @offer.title %>
    </h1>
  </section>
</aside>
<aside class="col-md-2 user_info_avatar">
  <section>
    <%= image_tag @offer.picture? ? @offer.picture.url : 'default_avatar.png' ,style: 'width:100%;' %>
  </section>
  <% if logged_in? %>
      <% if current_user.entitie == '1' %>
          <% unless current_user?(@offer.user) %>
              <% if current_user.offerings?(@offer) %>
                  <%= render 'offers/unfollow_offer' %>
              <% else %>
                  <%= render 'offers/follow_offer' %>
              <% end %>
          <% end %>
      <% end %>
      <% if admin_user?(current_user) || current_user?(@offer.user) %>
          <%= link_to "Editar", edit_offer_path, class: 'btn btn-default' %>
      <% end %>
  <% end %>
</aside>
<aside class="col-md-10">
  <section class="user_edit">
    <p>
      <%= @offer.description %>
    </p>
    <p><%= @offer.date_begin %> a <%= @offer.date_end %> </p>
    <p><strong>Empresa</strong></p>
    <p><%= link_to @offer.user.name, user_path(@offer.user.id) %></p>
    <p><strong>Actividade Profissional</strong></p>
    <p><%= @offer.prof_area %></p>
    <p><strong>Tipo de Contrato</strong></p>
    <p><%= @offer.type_contract %></p>
    <p><strong>Salário</strong></p>
    <p><%= @offer.salary %></p>
  </section>
</aside>

<% if !current_user?(@offer.user) %>
    <div class="row">
      <aside class="col-md-6">
        <section>
          <h1>
            Outras ofertas na mesma área
          </h1>
          <%= render @other_offer %>
        </section>
      </aside>
    </div>
<% else %>
    <div class="row">
      <aside class="col-md-6">
        <section>
          <h1>
            Candidatos
          </h1>
          <% if @offer_cand.any? %>
              <%= render @offer_cand %>
          <% else %>
              <p>Ainda não existem candidatos para esta oferta</p>
          <% end %>
        </section>
      </aside>
    </div>
<% end %>