<aside class="col-md-6">
  <section>
    <%= gravatar_for(candidate) %>
    <%= link_to candidate.name, candidate %>
    <p><%= candidate.profession_area %></p>
    <p><%= candidate.professional_exp %></p>
    <p><%= candidate.skills %></p>
  </section>
</aside>