<h3>
  Dados Pessoais
</h3>
<br>
<h5><strong>Morada</strong></h5>
<p><%= @candidate.address %></p>
<p><%= @candidate.postal_code %> <%= @candidate.locality %></p>
<h5><strong>Contactos</strong></h5>
<p><%= @candidate.phone %> \ <%= @candidate.cellphone %></p>
<p><%= @candidate.email %></p>
<p><%= @candidate.page %></p>