<h3>
  Dados Pessoais
</h3>
<br>
<h5><strong>Morada</strong></h5>
<p><%= @user.address %></p>
<p><%= @user.postal_code %> <%= @user.locality %></p>
<h5><strong>Contactos</strong></h5>
<p><%= @user.phone %> \ <%= @user.cellphone %></p>
<p><%= @user.email %></p>
<p><%= @user.page %></p>