<div class="row" id="login_candidate_info">
  <div class="col-md-6">
    <%= f.input :email %>
  </div>
</div>
<div class="row">
  <% if params[:data] == 'password' %>
      <div class="col-md-6">
        <%= f.input :current_password, label: "Password Atual" %>
      </div>
  <% end %>
</div>
<div class="row">
  <div class="col-md-6">
    <%= f.input :password %>
  </div>
  <%= f.hidden_field :entitie, value: '1' %>
  <div class="col-md-6">
    <%= f.input :password_confirmation, label: "Confirmação Password" %>
  </div>
</div>