    <div>
      <div id="new_info">
        <div class="row">
          <div class="col-md-6 ">
            <%= f.input :name,label: "Nome" %>
          </div>
          <div class="col-md-6">
            <%= f.label :entitie, "Tipo" %>
            <% if @user.entitie %>
                <%= f.hidden_field :entitie, value: @user.entitie %>
            <% else %>
                <%= f.hidden_field :entitie, value: 0 %>
            <% end %>
            <p><%= type(@user) %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <%= f.input :email, label: "Email" ,placeholder: 'Example: example@example.com' %>
          </div>
          <% if @user.password_digest.nil? %>
              <%= f.hidden_field :password, value: '123456 ' %>
              <%= f.hidden_field :password_confirmation, value: '123456 ' %>
          <% end %>
          <%= f.hidden_field :backoffice, value: true %>
          <div class="col-md-6">
            <h5><strong>Activo</strong></h5>
            <br>
            <div class="col-md-4">
              <%=  f.input :activated, inline_label: "Sim" %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <%= f.button :submit, class: "btn btn-primary" %>
          </div>
          <div class="col-md-2">
            <%= link_to "Cancelar", backoffice_users_path, class: "btn btn-default" %>
          </div>
        </div>
      </div>
    </div>
