<%= simple_form_for @user, html: {multipart: true}, url: new_candidate_path  do |f| %>
    <% if yield(:data) == 'register' %>
        <%= render 'layouts/form_password', :f => f %>
        <hr>
    <% end %>
    <% if yield(:data) == 'register' || params[:data] == 'edit' %>

        <div id="info_candidate" class="profile">
          <%= render 'layouts/form_personal_data', :f => f %>
          <div class="row">
            <div class="col-md-2">
              <%= f.input :birth_date,label: "Data de Nascimento", class: 'form-control' %>
            </div>
            <div class="col-md-3 col-md-offset-4">
              <%= f.input :idnum,label: "Nº Cartão do Cidadão"  %>
            </div>
            <%= f.hidden_field :entitie, value: '1' %>

          </div>
          <hr>
          <div class="row">
            <%= render 'users/form_activity_with_curriculum', :f => f %>
          </div>
          <div class="row">
            <%= render 'layouts/form_user_skills', :f => f %>
          </div>
        </div>
    <% end %>
    <div class="col-md-2">
      <%= f.button :submit, class: "btn btn-primary" %>
    </div>
<% end %>
<script type="text/javascript">
  $('#user_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('O tamanho máximo é de 5MB. Por favor escolha uma imagem mais pequena.');
    }
  });
  $('#user_curriculum').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('O tamanho máximo é de 5MB. Por favor escolha um formato do currículo mais pequeno.');
    }
  });

  $('#user_birth_date').datepicker({
    format: "dd-mm-yyyy"
  });
</script>
