<div class="row">
  <div class="col-md-6 ">
    <%= f.input :name, label: "Nome" %>
  </div>
  <div class="col-md-3">
    <%= f.input :picture, as: :file, label: "Foto" %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= f.input :address, as: :text, label: "Morada"  %>
  </div>
  <div class="col-md-2">
    <%= f.input :postal_code, label: "Código Postal" %>
  </div>
  <div class="col-md-2 col-md-offset-4">
    <%= f.input :locality, label: "Localidade" %>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <%= f.input :phone, label: "Telefone" %>
  </div>
  <div class="col-md-2">
    <%= f.input :cellphone, label: "Telemóvel" %>
  </div>
  <div class="col-md-6 col-md-offset-2">
    <%= f.input :page, label: "Página/Website" %>
  </div>
</div>