<%= simple_form_for @news do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <div>
      <div id="new_info">
        <div class="row">
          <div class="col-md-6 ">
            <%= f.input :title, label: "Título" %>
          </div>
          <div class="col-md-6">
            <%= f.label :date, "Data" %>
            <%= f.text_field :date, 'data-provide' => 'datepicker', class: 'form-control' %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <%= f.input :summary, as: :text, label: "Sumário da Notícia", placeholder: 'Breve descrição da notícia (max. 140 caracteres)' %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <%= f.input :text, as: :text, label: "Texto da Notícia" %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <%= f.input :picture, as: :file, label: "Foto" %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <h5><strong>Destaque</strong></h5>
            <br>
            <div class="checkbox">
              <%= f.input :destaque, inline_label: "Aparece me destaque" %>
            </div>
          </div>
          <div class="col-md-2 col-md-offset-2">
            <h5><strong>Activa</strong></h5>
            <br>
            <div class="checkbox ">
              <%= f.input :active, inline_label: "Sim" %>

            </div>

          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 20px;">
        <div class="col-md-2">
          <%= f.button :submit, class: 'btn btn-primary' %>

        </div>
        <div class="col-md-2">
          <%= link_to "Cancelar", backoffice_news_path, class: 'btn btn-default' %>
        </div>
      </div>
    </div>
<% end %>