<%= form_for(@user, html: {multipart: true}) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div>
      <% if yield(:data) == 'register' || params[:data] == 'password' %>
          <div class="row" id="login_candidate_info">
            <div class="col-md-6">
              <%= f.label :email %>
              <%= f.email_field :email, class: 'form-control' %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6"><%= f.label :password %>
              <%= f.password_field :password, class: 'form-control' %>
            </div>
            <%= f.hidden_field :entitie, value: '2' %>
            <div class="col-md-6">
              <%= f.label :password_confirmation, "Confirmar Password" %>
              <%= f.password_field :password_confirmation, class: 'form-control' %>
            </div>
          </div>
          <hr>
      <% end %>
      <% if yield(:data) == 'register' || params[:data] == 'edit' %>
          <div id="info_candidate" class="profile">
            <div class="row">
              <div class="col-md-6 ">
                <%= f.label :name, "Nome" %>
                <%= f.text_field :name, class: 'form-control'%>
              </div>
              <div class="col-md-3">
                <%= f.label :picture, "Foto" %>
                <%= f.file_field :picture %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <%= f.label :address, "Morada" %>
                <%= f.text_area :address, class: 'form-control' %>
              </div>
              <div class="col-md-2">
                <%= f.label :postal_code, "Código Postal" %>
                <%= f.text_field :postal_code, class: 'form-control' %>
              </div>
              <div class="col-md-2 col-md-offset-4">
                <%= f.label :locality, "Localidade" %>
                <%= f.text_field :locality, class: 'form-control' %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <%= f.label :phone, "Telefone" %>
                <%= f.telephone_field :phone, class: 'form-control' %>
              </div>
              <div class="col-md-2">
                <%= f.label :cellphone, "Telemóvel" %>
                <%= f.telephone_field :cellphone, class: 'form-control' %>
              </div>
              <div class="col-md-6 col-md-offset-2">
                <%= f.label :page, "Página/Website" %>
                <%= f.text_field :page, class: 'form-control' %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <%= f.label :idnum, yield(:idnumber) %>
                <%= f.text_field :idnum, class: 'form-control' %>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-2">
                <%= f.label :prof_area, "Atividade Profissional" %>
                <%= f.select(:prof_area, options_for_select([['Informática'],['Educação']])) %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <%= f.label :presentation, "Apresentação" %>
              <%= f.text_area :presentation, class: 'form-control', placeholder: 'Descrição da empresa (max. 140 carácteres)' %>
            </div>
          </div>
      <% end %>
      <div class="col-md-2">
        <%= f.submit yield(:button_text), class: "btn btn-primary" %>
      </div>
    </div>
<% end %>

<script type="text/javascript">
  $('#user_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('O tamanho máximo é de 5MB. Por favor escolha uma imagem mais pequena.');
    }
  });


</script>
