<%= form_for @user do |f| %>
    <div>
      <div id="new_info">
        <div class="row">
          <div class="col-md-6 ">
            <%= f.label :name, "Nome" %>
            <%= f.text_field :name, class: 'form-control' %>
          </div>
          <div class="col-md-6">
            <%= f.label :entitie, "Tipo" %>

            <%= f.hidden_field :entitie, value: type(@user) %>
            <p><%= type(@user) %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <%= f.label :email, "Sumário da Notícia" %>
            <%= f.email_field :email, class: 'form-control',placeholder: 'Example: example@example.com' %>
          </div>
          <%= f.hidden_field :password, value: '123456 ' %>
          <%= f.hidden_field :password_confirmation, value: '123456 ' %>
          <div class="col-md-6">
            <h5><strong>Activa</strong></h5>
            <br>
            <div class="checkbox col-md-2">
              <p>
                <%= f.label :activated do %>
                    Sim <%= f.check_box :activated, {}, true, false %>
                <% end %>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <%= f.submit "Ok", class: "btn btn-primary" %>
        </div>
        <div class="col-md-2">
          <%= link_to "Cancelar", class: 'btn btn-default'%>
        </div>
      </div>
    </div>
<% end %>