<%= simple_form_for @offer do |f| %>
    <div>
      <div id="new_info">
        <div class="row">
          <div class="col-md-6 ">
            <%= f.input :title, label: "Título" %>
          </div>
          <div class="col-md-3">
            <%= f.label :date_begin, "Data Início:" %>
            <%= f.text_field :date_begin,'data-provide' => 'datepicker', class: 'form-control' %>

          </div>
          <%= f.hidden_field :user , value: current_user %>
          <div class="col-md-3">
            <%= f.label :date_end, "Data Fim: "%>
            <%= f.text_field :date_end,'data-provide' => 'datepicker', class: 'form-control' %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <%= f.input :description, as: :text , label: "Descrição" %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <%= f.input :picture, as: :file, label: "Foto" %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <%= f.label "Empresa" %>
            <p><%= link_to @user.name, @user %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <%= f.input :prof_area, label: "Atividade Profissional",collection: (['Informática','Educação','Saúde','Metalúrgica','Prestação de Serviços']) %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">

            <%= f.input :type_contract, label: "Tipo de Contrato", collection: (['Full-Time','Part-Time']) %>
          </div>

          <div class="col-md-4 col-md-offset-2">
            <%= f.input :salary,label: "Salário", collection: (['500-1000','1000-1500','1500-2000','2000-2500']) %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2">
            <h5><strong>Activa</strong></h5>
            <br>
            <div class="checkbox">
              <p>
                <%= f.input :active, inline_label: 'Sim' %>
              </p>
            </div>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
        <%= f.button :submit, class: "btn btn-primary" %>
        </div>
        <div class="col-md-2">
            <%= link_to "Cancelar", user_path(current_user.id), class: "btn btn-default" %>
          </div>
        </div>
      </div>
    </div>
<% end %>