<header class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <%= link_to "bolsa emprego", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Registar-me",    new_user_path %></li>
        <li><%= link_to "Login",    '#'  %></li>
      </ul>
    </nav>

    <nav>
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to "Home",    root_path %></li>
        <li><%= link_to "Entidades",    '#' %></li>
        <li><%= link_to "Candidatos",   '#' %></li>
        <li><%= link_to "Ofertas",    '#'  %></li>
        <li><%= link_to "Notícias",    '#'  %></li>
      </ul>
    </nav>
  </div>
</header>
