<header class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <%= link_to "bolsa emprego", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
            <% if admin_user?(current_user) %>
                <li><%= link_to @current_user.name,  backoffice_url %></li>
            <% else %>
                <li><%= link_to @current_user.name,  current_user %></li>
            <% end %>

            <li><%= link_to "Sair", logout_path, method: "delete" %></li>
        <% else %>
            <li><%= link_to "Registar-me",    new_user_path %></li>
            <li class="divider"></li>
            <li><%= link_to "Login",    login_path  %></li>
        <% end %>
      </ul>
    </nav>

    <nav>
      <ul class="nav navbar-nav navbar-left">

        <li><%= link_to "Home",    root_path %></li>
        <li class="divider"></li>
        <% if current_page?(controller: 'backoffice') %>
            <li><%= link_to "Utilizadores",   backoffice_users_url %></li>
            <li class="divider"></li>

            <li><%= link_to "Notícias", backoffice_news_url  %></li>
        <% else %>
            <li><%= link_to "Entidades",    index_entitie_path %></li>
            <li class="divider"></li>

            <li><%= link_to "Candidatos",   index_candidate_path %></li>
            <li class="divider"></li>

            <li><%= link_to "Ofertas",    offers_path  %></li>
            <li class="divider"></li>

            <li><%= link_to "Notícias", news_index_url  %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
