<aside class="col-md-12">
  <section>
    <%= gravatar_for(user) %>
    <%= link_to user.name, user %>
    <p><%= user.prof_area %></p>
    <p><%= user.prof_experience %></p>
    <p><%= user.skills %></p>
  </section>
</aside>